*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #FFF8F3; */
}


/* Share Style  */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h2{
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}

.color-orange {
  color: #FD6E0A;
}

.btn {
  background-color: #FD6E0A;
  border: none;
  padding: 19px 35px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.section-heading {
  max-width: 827px;
  /* background-color: #FFF8F3; */
  text-align: center;
  margin: 0 auto;
}
.section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}




/* Main Style */
header{
  background-color: #FFF8F3;
 background: url(/hero-dev-responsive-code-main/images/developer.png),url(/hero-dev-responsive-code-main/images/header_bg.png);
 background-repeat: no-repeat;
 background-position: top left, bottom right;
  padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  

}

nav .menu{
  display: flex;
  list-style: none;
  color: #474747;
  gap: 51px;
  align-items: center;
  cursor: pointer;

}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  

}

#banner {
  /* border: 1px solid red; */
  margin: 45px 38px 0px 233px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color:#FFF8F3; */
}

#banner .banner-content {
  max-width: 585px;

}
#banner .banner-content h2 {
  color:#474747;
  font: weight 600;
  font-size: 20px;
  margin-bottom: 5px;


}

#banner .banner-content h1 {
  font-size: 60px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;

}

#banner .banner-content p {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;

}

#banner .banner-img img {
  max-width: 585px;
  vertical-align: middle;
}

#about {
  padding: 139px;
  
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 115px 160px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
  gap: 50px;
} 

.about-info p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.about-info h4 {
  font-size: 20px;
  color: #474747;
  line-height: 30px;
}

#Skills {
  /* padding-top: 115px; */

}

#skillis .skill-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skillis .skills-box{
  margin-top: 50px; 
}
#skillis .skill-container .skills-box {
  display: flex;
  gap: 24px;
}

.skills-box .skill-card {
  padding: 30px;
  max-width: 267px;
  /* border: 1px solid orange; */
  box-shadow: 0 6px 50px 0 #00000026;
}

.skills-box .skill-card img {
  width: 44px;
 margin-bottom: 30px;
}

.skill-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 20px;
}

.skill-card p {
  max-width: 210px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}



