*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shares style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  color: blue;
  
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}

.color-orange{
  color: #FD6E0A;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 35px;
  color: white;
  cursor: pointer;

}


/* main style  */

header{
background-color: #FFF8F3;
background: url(../hero-dev-responsive-code-main/images/developer.png), url(../hero-dev-responsive-code-main/images/header_bg.png), #FFF8F3;
background-repeat: no-repeat;
background-position: top left, bottom right;
padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav .menu{
  list-style: none;
  display: flex;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  
}
#banner{
  /* border: 1px solid red;  */
  margin: 45px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-cotent{
  max-width: 585px;
}
#banner .banner-cotent h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-cotent h1{
  font-size: 70px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-cotent p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-img{
  max-width: 585px;
  vertical-align:middle;
}

